*~
*.swp
*.iml
*.ipr
*.iws
.classpath
.project
.redcar/*
.settings/*
.idea/
.DS_Store
bin/
eclipse/*
eclipse/classes/*
precompiled/*
tmp/*
tmp/bytecode/*
test-result/*
lib/*
modules/*
html/*
target
project/project
logs

