            <h3>ドキュメント</h3>
            <ul>
                <li><a href="/documentation/latest/Installing">インストール手順</a></li>
                <li><a href="/documentation/latest/NewApplication">はじめてのアプリケーション</a></li>
                <li><a href="/documentation">完全なドキュメント</a></li>
                <li><a href="/changelog">変更履歴</a></li>
                <li><a href="/security/vulnerability">セキュリティ報告</a></li>
            </ul>
            <h3>ヘルプを探す</h3>
            <ul>
                <li><a href="http://groups.google.com/forum/#!forum/play-framework">メーリングリスト</a></li>
                <li><a href="http://stackoverflow.com/questions/tagged/playframework">Stackoverflow</a></li>
                <li><a href="http://typesafe.com/how">専門家によるサポート</a></li>
            </ul>
            <h3>貢献する</h3>
            <ul>
                <li><a href="/code">コードと貢献者</a></li>
                <li><a href="/get-involved">貢献する</a></li>
                <li><a href="/security/vulnerability">脆弱性を報告する</a></li>
            </ul>
