            <h3>はじめの一歩</h3>
            <ul>
                <li><a href="/documentation/2.1.0/Installing">インストール手順</a></li>
                <li><a href="/documentation/2.1.0/NewApplication">はじめてのアプリケーション</a></li>
                <li><a href="/documentation">完全なドキュメント</a></li>
                <li><a href="/changelog">リリースノート</a></li>
            </ul>
            <h3>ヘルプを探す</h3>
            <ul>
                <li><a href="http://groups.google.com/forum/#!forum/play-framework">メーリングリスト</a></li>
                <li><a href="http://stackoverflow.com/questions/tagged/playframework">Stackoverflow</a></li>
                <li><a href="http://typesafe.com/products">専門家によるサポート</a></li>
            </ul>
            <h3>貢献する</h3>
            <ul>
                <li><a href="/code">コードと貢献者</a></li>
                <li><a href="/get-involved">貢献する</a></li>
                <li><a href="https://groups.google.com/forum/#!forum/play-framework-security">セキュリティレポート</a></li>
            </ul>
            <h3>クラウド上で実行する</h3>
            <p>
                CloudBees には、クラウド上で Play アプリケーションを実行するためのファーストクラスサポートが含まれています。
            </p>
            <p>
                <a class="light" href="https://developer.cloudbees.com/bin/view/RUN/Playframework">もっと詳しく</a>
            </p>
            <p>
                <a class="cloudbees" href="https://grandcentral.cloudbees.com/?CB_clickstart=https://raw.github.com/CloudBees-community/play2-clickstart/master/clickstart.json">
                Launch on CloudBees
                </a>
            </p>