.half {
  position: relative;
}
#introduction {
  background: #9dd745 url(/assets/images/stripes.png) fixed;
  box-shadow: 0 -4px 0 rgba(0, 0, 0, 0.1) inset;
  padding: 0;
}
#introduction h1 {
  color: #fff;
  font-size: 45px;
  line-height: 48px;
  font-weight: 700;
  text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
}
#introduction p {
  line-height: 1.4em;
}
#features {
  padding: 0;
  background: #363736;
  color: #929292;
}
#features .item {
  text-align: center;
  padding: 0 20px;
  width: 33.333%;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#features h2 {
  color: #fff;
  margin-top: 10px;
}
#features .items {
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#features .items:after {
  content: " ";
  display: block;
  clear: both;
}
#features .items li {
  font-weight: bold;
  font-size: 18px;
  width: 33.333%;
  float: left;
  color: #ccc;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 10px;
}
#features .items li:before {
  content: " ";
  display: inline-block;
  width: 39px;
  height: 39px;
  margin-right: 5px;
  vertical-align: -10px;
  background-image: url(/assets/images/mini-features.png);
}
#features .items li p {
  font-size: 14px;
  font-weight: normal;
  padding-left: 50px;
  padding-right: 10px;
  margin-top: 5px;
  color: #888;
  height: 80px;
}
#features .reloading:before {
  background-position: -280px 0;
}
#features .fullstack:before {
  background-position: -240px 0;
}
#features .stateless:before {
  background-position: -120px 0;
}
#features .fun:before {
  background-position: -200px 0;
}
#features .javascala:before {
  background-position: 0px 0;
}
#features .templates:before {
  background-position: -40px 0;
}
#features .actors:before {
  background-position: -160px 0;
}
#features .sbt:before {
  background-position: -80px 0;
}
#features .overview {
  position: relative;
  background: #9dd745;
  color: white;
  margin-left: 10px;
  padding: 5px 10px 2px;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 0 3px 0 #69af04;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.2);
  -webkit-transition: all 70ms ease-out;
  margin: 16px 10px 0;
  float: left;
  display: block;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 10px 6px;
}
#features .overview:hover {
  box-shadow: 0 3px 0 #69af04, 0 3px 4px rgba(0, 0, 0, 0.3);
}
#features .overview:active {
  box-shadow: 0 1px 0 #69af04;
  top: 2px;
  -webkit-transition: none;
}
#meet {
  padding: 0;
  color: #888;
  font-size: 15px;
}
#meet h2 {
  color: #9dd745;
  font-size: 32px;
  line-height: 45px;
  font-weight: 700;
}
#community {
  height: 300px;
  background: #9dd745 url(/assets/images/stripes.png) fixed;
  color: #2d6201;
}
#community a {
  color: #fff;
}
#references {
  background: #363736;
  color: #929292;
  padding: 30px 0;
}
#references h2 {
  color: #191919;
  font-size: 18px;
  width: 960px;
  margin: 0 auto;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#references h2:after {
  content: " ";
  display: block;
  clear: both;
}
#history {
  position: relative;
  top: -10px;
  left: 20px;
}
#historyMenu {
  position: absolute;
  top: 325px;
  left: 140px;
  background: #666;
  box-shadow: 0 3px 0 #555;
  overflow: hidden;
  border-radius: 3px;
  color: #fff;
  border: 1px solid #555;
}
#historyMenu li {
  display: block;
  float: left;
  padding: 2px 10px;
  cursor: pointer;
}
#historyMenu li:hover {
  background: #555;
}
#historyMenu li.active {
  border-radius: 3px;
  background: #fff;
  color: #000;
}
#history div {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  display: block;
  position: absolute;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#hplay, #hover {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  top: 160px;
  left: 225px;
  margin-top: -110px;
  margin-left: -110px;
  line-height: 220px;
  background: #fff;
  color: #555;
  font-size: 22.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hjava {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  top: 180px;
  left: 120px;
  margin-top: -85px;
  margin-left: -85px;
  line-height: 170px;
  background: #fff;
  color: #555;
  font-size: 18.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hscala {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  top: 180px;
  left: 330px;
  margin-top: -85px;
  margin-left: -85px;
  line-height: 170px;
  background: #fff;
  color: #555;
  font-size: 18.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hjsp {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  top: 135px;
  left: 120px;
  margin-top: -25px;
  margin-left: -25px;
  line-height: 50px;
  background: #fff;
  color: #555;
  font-size: 9px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hservlet {
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
  top: 210px;
  left: 130px;
  margin-top: -32.5px;
  margin-left: -32.5px;
  line-height: 65px;
  background: #fff;
  color: #555;
  font-size: 10.2px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hgroovy {
  width: 55px;
  height: 55px;
  border-radius: 27.5px;
  top: 140px;
  left: 125px;
  margin-top: -27.5px;
  margin-left: -27.5px;
  line-height: 55px;
  background: #fff;
  color: #555;
  font-size: 9.4px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hpython {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  top: 70px;
  left: 185px;
  margin-top: -35px;
  margin-left: -35px;
  line-height: 70px;
  background: #fff;
  color: #555;
  font-size: 10.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hasync {
  width: 85px;
  height: 85px;
  border-radius: 42.5px;
  top: 65px;
  left: 265px;
  margin-top: -42.5px;
  margin-left: -42.5px;
  line-height: 85px;
  background: #fff;
  color: #555;
  font-size: 11.8px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hsbt {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  top: 70px;
  left: 185px;
  margin-top: -35px;
  margin-left: -35px;
  line-height: 70px;
  background: #fff;
  color: #555;
  font-size: 10.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hakka {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: 220px;
  left: 310px;
  margin-top: -30px;
  margin-left: -30px;
  line-height: 60px;
  background: #fff;
  color: #555;
  font-size: 9.8px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hdeps {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  top: 220px;
  left: 150px;
  margin-top: -22.5px;
  margin-left: -22.5px;
  line-height: 45px;
  background: #fff;
  color: #555;
  font-size: 8.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#hsocket {
  width: 85px;
  height: 85px;
  border-radius: 42.5px;
  top: 260px;
  left: 225px;
  margin-top: -42.5px;
  margin-left: -42.5px;
  line-height: 85px;
  background: #fff;
  color: #555;
  font-size: 11.8px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
#htemplates {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  top: 140px;
  left: 320px;
  margin-top: -35px;
  margin-left: -35px;
  line-height: 70px;
  background: #fff;
  color: #555;
  font-size: 10.6px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
.v1 #hscala {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  top: 180px;
  left: 330px;
  margin-top: -50px;
  margin-left: -50px;
  line-height: 100px;
  background: #fff;
  color: #555;
  font-size: 13px;
  border: 2px solid #9dd745;
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
}
.va #hscala, .vb #hscala {
  top: 220px;
  left: 450px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.vb #hjsp, .v1 #hjsp, .v2 #hjsp {
  top: 95px;
  left: 30px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.vb #hservlet, .v1 #hservlet, .v2 #hservlet {
  top: 280px;
  left: 50px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hgroovy, .v2 #hgroovy {
  top: 40px;
  left: 65px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hpython, .v2 #hpython {
  top: 0px;
  left: 165px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hasync {
  top: -10px;
  left: 285px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hsbt, .vb #hsbt, .v1 #hsbt {
  top: 0px;
  left: 130px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hakka, .vb #hakka, .v1 #hakka {
  top: 300px;
  left: 400px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hdeps, .vb #hdeps, .v2 #hdeps {
  top: 300px;
  left: 100px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hsocket, .vb #hsocket {
  top: 320px;
  left: 200px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #htemplates, .vb #htemplates, .v1 #htemplates {
  top: 160px;
  left: 450px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
#hplay {
  background: #9dd745 url(/assets/images/play-mini.png) center center no-repeat;
}
#hscala {
  text-align: right !important;
}
#hjava {
  text-align: left !important;
}
#hover {
  background: rgba(157, 215, 69, 0.19999999999999996) url(/assets/images/play-mini.png) center center no-repeat;
  z-index: 999;
  border: 1px solid rgba(157, 215, 69, 0.30000000000000004);
}
#hjava, #history div#hscala {
  background: #444;
  color: #fff;
  border: none;
}
