/*
Mobile CSS Proposal for playframework.org
by Oskar Wickström
OskarWickstrom @ Twitter

*/

@media (max-width: 960px) {

  body {
    -webkit-text-size-adjust:none;
  }

  body,
  .wrapper,
  #features .items
  {
    width: auto !important;
  }

  #history {
    display: none;
  }

  body {
    padding-top: 0px;
    font-size:14px;
    line-height: 1.3em;
  }

   a {
    white-space: pre;           /* CSS 2.0 */
    white-space: pre-wrap;      /* CSS 2.1 */
    white-space: pre-line;      /* CSS 3.0 */
    white-space: -pre-wrap;     /* Opera 4-6 */
    white-space: -o-pre-wrap;   /* Opera 7 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -hp-pre-wrap;  /* HP Printers */
    word-wrap: break-word;      /* IE 5+ */
  }

  img {
    max-width: 100% ;
  }

  header {
    position: static;
    padding: 10px;
    height: auto;
    width: auto;
    line-height: auto;
    text-align: center;
  }

  header #logo,
  header #getLogo,
  header nav
  {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    bottom: auto;
    margin: 0;
  }
  header #logo {
    display: block;
    height: 45px;
    margin:10px 0;
  }
  header nav #logo img {
    display: block;
  }

  header #getLogo {
    width: auto;
    margin:20px 0;
  }

  header nav {
    line-height: 1.5em;
  }
  header nav a {
    display: inline-block;
    font-size: 20px;
    margin-bottom: 6px;
    padding: 0 4px;
    line-height: 1.2em !important;
  }
  header nav a.selected {
    border-bottom: 2px solid #e9e9e9;
  }

  #introduction .wrapper,
  #features .wrapper,
  #meet .wrapper,
  #top .wrapper
  {
    padding: 20px 10px;
  }
  
  #top h1 {
    float: none;
    font-size: 28px;
    line-height: 1.3em;
  }
  #top nav {
    float: none;
    line-height: 2em;
    text-align: center;
  }
  #top nav form {
    float: none;
    margin-bottom: 10px;
  }
  #top nav form input[type="search"] {
    width: 100%;
  }
  #top nav .versions {
    float: none;  
    width: 40%;
    padding:0 2%;
    text-align: left;
  }
  #top nav .versions span {
    white-space: nowrap;
  }
  #top nav .versions span::before {
    margin-right: 8px;
  }

  #content.wrapper {
    padding: 20px 0;
  }

  .wrapper article,
  .wrapper aside
  {
    width: auto;
    padding: 0 20px;
    float: none;
    min-height: inherit;
  }

  .wrapper aside {
    padding: 20px 20px;
    border-top: 3px solid #e9e9e9;
    border-bottom: 3px solid #e9e9e9;
    background: #f7f7f7;
  }
  .wrapper ul a,
  .wrapper ol a
  {
    padding:1 0px 0 10px 10px;
  }

  article p {
    line-height: 1.5em;
  }

  article code {
    background: none;
    border: none !important;
    font-size: 90%;
    padding:0 2px;
    color: #498F00 !important;
  }

  article pre {
    position: relative;
    margin: 20px -20px;
    padding: 10px 15px !important;
    border-radius: 0px;
    border-left: none !important;
    border-right: none !important;
    line-height: 1.3em;
  }

  #news {
    text-align: center;
  }
  #news .wrapper {
    display: inline-block;
    padding: 19px 60px;
  }


  #title {
    width: auto;
    float: none;
    padding: 0 10px;
    font-size: inherit;
  }
  #title h1 {
    font-size:32px;
    line-height:1.3em;
  }
  #title h1 br {
    display: none;
  }
  #title p {
    max-width: 800px;
    font-size: inherit;
  }

  #quicklinks {
    float: none;
    width: auto;
    margin:5px 0;
  }
  #features .items {
    width: auto;
  }
  #features .items li {
    font-size: inherit;
  }
  #features .items li::before {
  }
  #features .items li p {
    margin:3px 0 0 0;
    padding: 0;
    height: auto;
  }

  #meet {
    text-align: center;
  }

  #meet .half,
  #meet .half #history
  {
    width: auto;
    padding: 0 10px;
    float: none;
  }

  #meet .half.history {
    text-align: left;
  }

  /* The animation container */
  #meet .half:last-child {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 800px; /* remove this to let it scale without limit */
  }
  /*
  1:1 Aspect Ratio CSS Hack
  http://ansciath.tumblr.com/post/7347495869/css-aspect-ratio 
  */
  #meet .half #height-control {
    margin-top: 100%;
  }

  #meet .half #history {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  #history div {
    border-radius: 50% !important;
    padding: 0;
    font-size: 100%;
    line-height: 0em;
  }

  #hplay,
  #hjava,
  #hscala
  {
    font-size: 160% !important;
  }

  #hplay,
  #hover
  {
    width: 48%;
    margin-left:-24%;
    left: 50%;

    height: 48%;
    margin-top: -24%;
    top: 40%;
  }

  #hjava,
  #hscala
  {
    width: 36%;
    margin-left: -18%;

    height:36%;
    margin-top: -18%;

    padding: 18% 3% 0 3% !important;
  }

  #hjava {
    left: 25%;
    top: 50%;
  }
  #hscala {
    left: 75%;
    top: 50%;
  }
  .va #hscala,
  .vb #hscala,
  .v1 #hscala
  {
    width: 24%;
    margin-left: -12%;

    height: 24%;
    margin-top: -12%;

    padding: 12% 3% 0 3% !important;
    font-size: 120% !important;
    line-height: 0em;

    top: 48%;
    left: 75%;
  }

  .va #hscala,
  .vb #hscala
  {
    opacity: 0;
  }

  /* Small */

  #hjsp,
  #hdeps,
  #hakka,
  #hgroovy,
  #hsbt
  {
    width: 12%;
    margin-left: -6%;

    height: 12%;
    padding-top: 6% !important;
    margin-top: -6%;
  }

  /* Medium */

  #hservlet,
  #hsbt,
  #htemplates,
  #hpython
  {
    width: 16%;
    margin-left: -8%;

    height: 16%;
    padding-top: 8% !important;
    margin-top: -8%;
  }

  /* Large */

  #hasync,
  #hsocket
  {
    width: 22%;
    margin-left: -11%;

    height: 22%;
    padding-top: 11% !important;
    margin-top: -11%;
  }


  #hjsp,
  #hgroovy
  {
    top: 40%;
    left: 26%;
  }
  .vb #hjsp,
  .v1 #hjsp,
  .v2 #hjsp,
  .va #hgroovy,
  .v2 #hgroovy
  {
    top: 30%;
    left: 10%;
    opacity: 0;
  }

  #hservlet {
    top: 56%;
    left: 28%;
  }
  .vb #hservlet,
  .v1 #hservlet,
  .v2 #hservlet
  {
    top: 80%;
    left: 10%;
    opacity: 0;
  }

  #hpython {
    top: 24%;
    left: 38%;
  }
  .va #hpython,
  .v2 #hpython
  {
    top: 0%;
    left: 20%;
    opacity: 0;
  }

  .vb #hasync,
  .v1 #hasync,
  .v2 #hasync
  {
    top: 22%;
    left: 58%;
  }
  .va #hasync
  {
    top: 0% !important;
    left: 70% !important;
    opacity: 0;
  }

  #hdeps {
    top: 56%;
    left: 30%;
  }
  .va #hdeps,
  .vb #hdeps,
  .v2 #hdeps
  {
    top: 70%;
    left: 40%;
    opacity: 0;
  }

  #hsocket {
    top: 68%;
    left: 50%;
  }
  .va #hsocket,
  .vb #hsocket
  {
    top: 90%;
    left: 50%;
    opacity: 0;
  }

  #htemplates {
    top: 42%;
    left: 74%;
  }
  .va #htemplates,
  .vb #htemplates,
  .v1 #htemplates
  {
    top: 20%;
    left: 80%;
    opacity: 0;
  }

  #hakka {
    top: 58%;
    left: 70%;
  }
  .va #hakka,
  .vb #hakka,
  .v1 #hakka
  {
    top: 70%;
    left: 80%;
    opacity: 0;
  }

  #hsbt {
    top: 24%;
    left: 36%;
  }
  .va #hsbt,
  .vb #hsbt,
  .v1 #hsbt
  {
    top: 0%;
    left: 20%;
    opacity: 0;
  }

  #historyMenu {
    width: 64%;
    margin-left: -32%;
    left: 50%;

    height: 8%;
    margin-top: 0;
    margin-bottom: -4%;
    top: auto;
    bottom: 10%;
  }
  #historyMenu li {
    display: block;
    float: left;
    width: 25%;
    height: 100%;
    padding: 6% 0 0 0;
    line-height: 0em;
    font-size: 140%;
  }

  footer {
    padding: 20px 10px;
    text-align: center;
  }

  footer .logo {
    position: static;
    top: auto;
    left: auto;
    margin: 0;
  }

  footer .links {
    width: auto;
    margin: 20px 0;
    padding: 0;
  }

  footer .links dl dt {
    font-size: 120%;
    line-height: 2em;
  }
  footer .links dl dd {
    font-size: 110%;
    line-height: 1.8em;
  }
  footer .links dl dd a {
    text-decoration: underline;
  }

  footer .licence {
    width: auto;
    margin: 0;
    padding: 20px 20px 0;
  }
  footer .licence .typesafe, 
  footer .licence .zenexity 
  {
    position: static;
    float: none;
    display: block;
    margin: 20px 0 5px;
  }

}

@media (max-width: 767px) {

  header nav a {
    font-size: 17px;
  }

  #history div {
    font-size: 70%;
  }
  #hjava,
  #hscala
  {
    font-size: 100% !important;
  }
  .va #hscala,
  .vb #hscala,
  .v1 #hscala
  {
    font-size: 80% !important;
  }
  #historyMenu li {
    font-size: 100%;
  }
}

@media (max-width: 480px) {

  #news {
    display: none !important;
  }

  #title h1 {
    font-size: 24px !important;
    line-height: 1.3em !important;
  }

  nav .download {
    display: none;
  }

  #features .item {
    clear: both !important;
    width: 100% !important;
  }

  #features .items {
    width: 100% !important;
  }

  #features .items li {
    clear: both !important;
    width: 100% !important;    
  }

  #meet h2 {
    font-size: 24px !important;
  }

  #top h1 {
    font-size: 18px !important;
    margin-left: 5px;
  }

  #history {
    display: none !important;
  }

  header nav a {
    padding: 0 2px 4px;
    font-size: 14px;
    line-height: 2em;
  }

  article h1 {
    font-size: 28px;
  }
  article h2 {
    font-size: 20px;
  }

  article ul li ol, 
  article ol li ol, 
  article ul li ul, 
  article ol li ul
  {
    margin-left: 0;
  }

  aside a[href^="http"]::after, 
  .doc a[href^="http"]::after 
  {
    display: none;
  }

  #features .item,
  #features .items li 
  {
    width: 100%;
  }

  #history div {
    font-size: 56%;
  }
  #hjava,
  #hscala
  {
    font-size: 80% !important;
  }
  .va #hscala,
  .vb #hscala,
  .v1 #hscala
  {
    font-size: 60% !important;
  }
  #historyMenu li {
    font-size: 80%;
  }

  footer .logo {
    display: none;
  }
  footer .links {
    margin-top: 0;
  }

  footer .links dl {
    width: auto;
    float: none;
    margin-bottom: 15px;
  }
}