#{extends 'main.html' /}
#{set title:'Modules' /}

<div id="top">
    <p class="category">コミュニティが寄付した拡張</p>
</div>

<div class="wrapper">
    
    <div id="submenu">
        
        <ul class="sidemenu">
            <li class="#{if module.id == ''}selected#{/if}">
                <a href="/modules">すべてのモジュール</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'scala'}selected#{/if}">
                <a href="/modules/scala">Scala</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'gae'}selected#{/if}">
                <a href="/modules/gae">Google App Engine</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'pdf'}selected#{/if}">
                <a href="/modules/pdf">PDF Generation</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'sass'}selected#{/if}">
                <a href="/modules/sass">SASS and SCSS</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'gwt2'}selected#{/if}">
                <a href="/modules/gwt2">Google Web Toolkit</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'morphia'}selected#{/if}">
                <a href="/modules/morphia">MongoDB</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'search'}selected#{/if}">
                <a href="/modules/search">Simple search</a> <span>⬅</span>
            </li>
            <li class="#{if module.id == 'objectify'}selected#{/if}">
                <a href="/modules/objectify">Objectify</a> <span>⬅</span>
            </li>
        </ul>

    </div>
    
    <div class="wrapped wikistyle">
    
        <h1>${module.name} [${module.id}] モジュール</h1>
        
        <p>${module.description.raw()}</p>
        
        <p><a href="${module.url}">${module.url}</a>, 作成者 ${module.author}</p>
        
        <h2><a>公開されたリリース</a></h2>
        
        #{if versions}
        <p>
            このモジュールをインストールするには <strong>install</strong> コマンドを使用してください:
        </p>
        
        <pre><code>play install ${module.id}-{version}</code></pre>  
        
        <p>
            バージョン互換性を確認するために各リリースのドキュメントを確認してください。
        </p>
        
        <table>
        #{list items:versions, as:'item'}
            <tr>
                <td><strong>${module.id}-${item.version}&nbsp;#{if item.isDefault}&#9733;#{/if}</strong></td>
                <td>${item.publishedAt}</td>

                <td><a href="/modules/${module.id}-${item.version}/home">ドキュメント</a></td>
                <td style="text-align:right"
                    <a href="http://www.playframework.org/modules/${module.id}-${item.version}.zip">ダウンロード</a>
                </td>
            </tr>
        #{/list}
        </table>
        #{/if}
        #{else}
        <p>
        このモジュールにはまだ公開されたリリースがありません。以前のバージョンを取得する場合はプロジェクトホームページを参照してください。
        </p>
        #{/else}
    </div>

    <div class="wrapped">
        <div id="comments">
            <h3>コメント</h3>

            <p>
                このモジュールについて議論するためにこのフォームを使用してください。
                趣旨に沿わないコメントは警告無しに削除されます。
            </p>

        </div>
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            var disqus_identifier = 'modules-${module.id}';
            var disqus_title = '${module.name} [${module.id}]';
            (function() {
                var dsq = document.createElement('script');
                dsq.type = 'text/javascript';
                dsq.async = true;
                dsq.src = 'http://playdocja.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
    </div>
        
</div>
