#{extends 'main.html' /}
#{set title:'Modules' /}
#{script src="navigation.js" /}

<div id="top">
    <p class="category">
        コミュニティが寄付した拡張
    </p>
</div>

<div class="wrapper">
    
    <div id="docSidebar">
        <h2>バージョン互換性</h2>
        <p>
            <strong>${id}-${version}</strong> は、このバージョンでテストされています: <strong>${frameworkVersions}</strong>
        </p>
        
        <h2>閲覧</h2>
        <ul>
            <li><a href="/modules/${id}">モジュールの説明に戻る</a></li>
            <li id="gotoc"><a href="home">目次</a></li>
        </ul>
        
        <h2>内容</h2>
        
        <div id="toc"></div>
        
        <h2>モジュールバージョン</h2>
        <div id="bc">
            <ul>
            #{list items:versions, as:'item'}
                <li><a class="" href="/modules/${id}-${item.version}/home">${id}-${item.version}</a> #{if version == item.version}⬅#{/if}</li>
            #{/list}
            </ul>
        </div>
        
    </div>
    
    <div id="pageContent">
        
        <div class="wikistyle">${html.raw()}</div>
        
    </div>
    
</div>
