#{if play.mode.name() == 'DEV'}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <body>
    #{404 result /}
    </body>
</html>
#{/if}

#{else}
#{extends 'main.html' /}
<section id="top">
        <div class="wrapper">
            <h1>This page may have been moved or deleted</h1>
        </div>
    </section>
    
    <div id="content" class="wrapper">
        
        <article>
            
            <h1>ページが見つかりません</h1>
            
            <p>
                申し訳ありませんが、お探しのページが見つかりませんでした。 
                このサイトになにか問題があるとお考えの場合は、<a href="https://github.com/garbagetown/playdocja/issues">github バグトラッカ</a> に問題を報告してください。
            </p>
            
        </article>
        
        
    </div>
#{/else}