#{if play.mode.name() == 'DEV'}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>Not found</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    </head>
    <body>
    #{404 result /}
    </body>
</html>
#{/if}

#{else}
#{extends 'main.html' /}
<div id="top">
    <p class="category">&{'notFound.title'}</p>
</div>

<div class="wrapper" id="notfound">
    <div class="wrapped">
        <p>
            &{'notFound.content'}
        </p>
    </div>
</div>
#{/else}