html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption, th, td {
  text-align: left;
  font-weight: normal;
}
form legend {
  display: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote, q {
  quotes: "" "";
}
ol, ul {
  list-style: none;
}
hr {
  display: none;
  visibility: hidden;
}
:focus {
  outline: 0;
}
#history  div {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: absolute;
  padding: 0 10px;
  text-align: center;
  white-space: nowrap;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.25);
  -webkit-transition: all 400ms ease-in-out;
  -moz-transition: all 400ms ease-in-out;
  -o-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}
#hscala {
  text-align: right !important;
}
#hjava {
  text-align: left !important;
}
#hplay {
  width: 220px;
  height: 220px;
  border-radius: 110px;
  top: 160px;
  left: 225px;
  margin-top: -110px;
  margin-left: -110px;
  line-height: 220px;
  background: rgba(78, 146, 44, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(78, 146, 44, 0.19999999999999996)), color-stop(1, rgba(78, 146, 44, 0.5)));
  color: #244414;
  font-size: 23.6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  color: #447e26;
}
#hjava {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  top: 180px;
  left: 130px;
  margin-top: -85px;
  margin-left: -85px;
  line-height: 170px;
  background: rgba(90, 177, 139, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(90, 177, 139, 0.19999999999999996)), color-stop(1, rgba(90, 177, 139, 0.5)));
  color: #357056;
  font-size: 19.6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hscala {
  width: 170px;
  height: 170px;
  border-radius: 85px;
  top: 180px;
  left: 330px;
  margin-top: -85px;
  margin-left: -85px;
  line-height: 170px;
  background: rgba(6, 159, 192, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(6, 159, 192, 0.19999999999999996)), color-stop(1, rgba(6, 159, 192, 0.5)));
  color: #034d5d;
  font-size: 19.6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hjsp {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  top: 135px;
  left: 130px;
  margin-top: -25px;
  margin-left: -25px;
  line-height: 50px;
  background: rgba(217, 206, 32, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(217, 206, 32, 0.19999999999999996)), color-stop(1, rgba(217, 206, 32, 0.5)));
  color: #807a13;
  font-size: 10px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hservlet {
  width: 65px;
  height: 65px;
  border-radius: 32.5px;
  top: 220px;
  left: 150px;
  margin-top: -32.5px;
  margin-left: -32.5px;
  line-height: 65px;
  background: rgba(26, 210, 169, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(26, 210, 169, 0.19999999999999996)), color-stop(1, rgba(26, 210, 169, 0.5)));
  color: #0f7760;
  font-size: 11.2px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hgroovy {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  top: 140px;
  left: 135px;
  margin-top: -37.5px;
  margin-left: -37.5px;
  line-height: 75px;
  background: rgba(17, 183, 193, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(17, 183, 193, 0.19999999999999996)), color-stop(1, rgba(17, 183, 193, 0.5)));
  color: #095e63;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hpython {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  top: 70px;
  left: 185px;
  margin-top: -35px;
  margin-left: -35px;
  line-height: 70px;
  background: rgba(17, 193, 83, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(17, 193, 83, 0.19999999999999996)), color-stop(1, rgba(17, 193, 83, 0.5)));
  color: #09632b;
  font-size: 11.6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hasync {
  width: 85px;
  height: 85px;
  border-radius: 42.5px;
  top: 65px;
  left: 265px;
  margin-top: -42.5px;
  margin-left: -42.5px;
  line-height: 85px;
  background: rgba(187, 213, 13, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(187, 213, 13, 0.19999999999999996)), color-stop(1, rgba(187, 213, 13, 0.5)));
  color: #677507;
  font-size: 12.8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hsbt {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  top: 70px;
  left: 185px;
  margin-top: -35px;
  margin-left: -35px;
  line-height: 70px;
  background: rgba(13, 213, 150, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(13, 213, 150, 0.19999999999999996)), color-stop(1, rgba(13, 213, 150, 0.5)));
  color: #077552;
  font-size: 11.6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hakka {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  top: 220px;
  left: 310px;
  margin-top: -30px;
  margin-left: -30px;
  line-height: 60px;
  background: rgba(55, 168, 11, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(55, 168, 11, 0.19999999999999996)), color-stop(1, rgba(55, 168, 11, 0.5)));
  color: #184805;
  font-size: 10.8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hdeps {
  width: 45px;
  height: 45px;
  border-radius: 22.5px;
  top: 220px;
  left: 150px;
  margin-top: -22.5px;
  margin-left: -22.5px;
  line-height: 45px;
  background: rgba(217, 206, 32, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(217, 206, 32, 0.19999999999999996)), color-stop(1, rgba(217, 206, 32, 0.5)));
  color: #807a13;
  font-size: 9.6px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
#hsocket {
  width: 75px;
  height: 75px;
  border-radius: 37.5px;
  top: 255px;
  left: 230px;
  margin-top: -37.5px;
  margin-left: -37.5px;
  line-height: 75px;
  background: rgba(92, 181, 53, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(92, 181, 53, 0.19999999999999996)), color-stop(1, rgba(92, 181, 53, 0.5)));
  color: #34661e;
  font-size: 12px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  font-size: 10px;
  color: #203f12;
  text-indent: -3px;
}
#htemplates {
  width: 80px;
  height: 80px;
  border-radius: 40px;
  top: 140px;
  left: 320px;
  margin-top: -40px;
  margin-left: -40px;
  line-height: 80px;
  background: rgba(13, 163, 87, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(13, 163, 87, 0.19999999999999996)), color-stop(1, rgba(13, 163, 87, 0.5)));
  color: #054525;
  font-size: 12.4px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
.v1 #hscala {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  top: 180px;
  left: 330px;
  margin-top: -50px;
  margin-left: -50px;
  line-height: 100px;
  background: rgba(6, 159, 192, 0.30000000000000004);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(6, 159, 192, 0.19999999999999996)), color-stop(1, rgba(6, 159, 192, 0.5)));
  color: #034d5d;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  opacity: 1;
  -webkit-transform: scale(1) translate3d(0, 0, 0);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1), inset -1px -1px 2px rgba(0, 0, 0, 0.1);
}
.va #hscala, .vb #hscala {
  top: 220px;
  left: 450px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.vb #hjsp, .v1 #hjsp, .v2 #hjsp {
  top: 95px;
  left: 30px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.vb #hservlet, .v1 #hservlet, .v2 #hservlet {
  top: 280px;
  left: 50px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hgroovy, .v2 #hgroovy {
  top: 40px;
  left: 65px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hpython, .v2 #hpython {
  top: 0px;
  left: 165px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hasync {
  top: -10px;
  left: 285px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hsbt, .vb #hsbt, .v1 #hsbt {
  top: 0px;
  left: 130px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hakka, .vb #hakka, .v1 #hakka {
  top: 300px;
  left: 400px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hdeps, .vb #hdeps, .v2 #hdeps {
  top: 300px;
  left: 100px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #hsocket, .vb #hsocket {
  top: 320px;
  left: 200px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
.va #htemplates, .vb #htemplates, .v1 #htemplates {
  top: 160px;
  left: 450px;
  opacity: 0;
  -webkit-transform: scale(0) translate3d(0, 0, 0);
}
body {
  font: 14px Istok, "Helvetica Neue", sans-serif;
  background: #eee;
  color: #6e7977;
}
h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
}
h3 {
  color: #333;
  font-size: 18px;
  margin: 20px 0 5px;
}
strong {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  color: #5d6866;
}
#github {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
}
#top {
  background-color: #fff;
  background-color: #444444;
  background: -moz-linear-gradient(top, #555555 0%, #333333 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #555555), color-stop(100%, #333333));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #555555 0%, #333333 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #555555 0%, #333333 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #555555 0%, #333333 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #555555 0%, #333333 100%);
  /* W3C */

  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  position: relative;
  z-index: 10;
  height: 45px;
  width: 100%;
  position: fixed;
  border-bottom: 1px solid #222;
}
#logo {
  position: absolute;
  top: 8px;
  left: 50%;
  margin-left: -450px;
}
#menu {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -450px;
}
#menu li {
  display: inline;
}
#menu a {
  display: inline;
  display: inline-block;
  line-height: 46px;
  padding: 0 15px;
  color: #999;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  text-decoration: none;
}
#menu a:hover {
  color: #ccc;
  -webkit-box-shadow: inset 0 2px 0 #777;
  -moz-box-shadow: inset 0 2px 0 #777;
  box-shadow: inset 0 2px 0 #777;
}
#menu a.active {
  color: #8eb132;
  -webkit-box-shadow: inset 0 2px 0 #8eb132;
  -moz-box-shadow: inset 0 2px 0 #8eb132;
  box-shadow: inset 0 2px 0 #8eb132;
}
#marker {
  display: block;
  top: 43px;
  position: absolute;
  width: 32px;
  height: 18px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
  background: url(/public/2.0/images/marker.png) no-repeat;
}
#announcement {
  background-color: #99e28e;
  background: url(/public/2.0/images/header.png) top center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0, #b2eb5a), color-stop(1, #87dcb4));
  background: url(/public/2.0/images/header.png) top center no-repeat, -moz-linear-gradient(left, #b2eb5a 0%, #87dcb4 100%);
  /* FF3.6+ */

  background: url(/public/2.0/images/header.png) top center no-repeat, -webkit-linear-gradient(left, #b2eb5a 0%, #87dcb4 100%);
  /* Chrome10+,Safari5.1+ */

  background: url(/public/2.0/images/header.png) top center no-repeat, -o-linear-gradient(left, #b2eb5a 0%, #87dcb4 100%);
  /* Opera11.10+ */

  background: url(/public/2.0/images/header.png) top center no-repeat, -ms-linear-gradient(left, #b2eb5a 0%, #87dcb4 100%);
  /* IE10+ */

  background: url(/public/2.0/images/header.png) top center no-repeat, linear-gradient(left, #b2eb5a 0%, #87dcb4 100%);
  /* W3C */

  height: 500px;
  width: 100%;
  position: fixed;
  top: 35px;
}
#description {
  height: 450px;
  width: 450px;
  position: absolute;
  top: 30px;
  right: 50%;
}
#description h1 {
  color: #0f361f;
  font-size: 40px;
  margin: 40px 0 20px;
}
#description p {
  color: #366c57;
  font-size: 17px;
  margin: 10px 0;
}
#download {
  margin: 20px 0 10px;
}
#download dt, #download dd {
  display: inline;
  padding-right: 10px;
}
#download dt a {
  display: inline-block;
  padding: 3px 5px;
  border-radius: 5px;
  color: #fff;
  background-color: #c4397b;
  background: -moz-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d04587), color-stop(100%, #b82d6f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* W3C */

  -webkit-box-shadow: inset 1px 1px 0 #d65f98, inset -1px -1px 0 #932458, 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 0 #d65f98, inset -1px -1px 0 #932458, 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 #d65f98, inset -1px -1px 0 #932458, 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 #932458;
  text-decoration: none;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
#download dt a:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}
#download dd a {
  color: #ba3072;
}
#history {
  height: 450px;
  width: 450px;
  position: absolute;
  top: 30px;
  left: 50%;
}
#historyMenu {
  position: absolute;
  top: 320px;
  left: 100px;
  background: #eee;
  background-color: #e6e6e6;
  background: -moz-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #dddddd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #eeeeee 0%, #dddddd 100%);
  /* W3C */

  -webkit-box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #cccccc, 2px 2px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #cccccc, 2px 2px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 #ffffff, inset -1px -1px 0 #cccccc, 2px 2px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 #fff;
  text-decoration: none;
  border-radius: 5px;
}
#historyMenu li {
  display: inline-block;
  width: 40px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
#historyMenu li:first-child {
  border-radius: 5px 0 0 5px;
}
#historyMenu li:last-child {
  border-radius: 0 5px 5px 0;
}
#historyMenu li:hover {
  background: rgba(0, 0, 0, 0.05);
}
#historyMenu li.active {
  color: #fff;
  background-color: #c4397b;
  background: -moz-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d04587), color-stop(100%, #b82d6f));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #d04587 0%, #b82d6f 100%);
  /* W3C */

  -webkit-box-shadow: inset 1px 1px 0 #d65f98, inset -1px -1px 0 #932458, 1px 1px 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 1px 1px 0 #d65f98, inset -1px -1px 0 #932458, 1px 1px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 1px 1px 0 #d65f98, inset -1px -1px 0 #932458, 1px 1px 0 rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px 0 #932458;
  text-decoration: none;
}
.tweet {
  width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 20px 30px;
  position: relative;
  top: -20px;
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}
.tweet q {
  font-size: 20px;
  font: 20px Georgia, serif;
  font-style: italic;
  color: #aaa;
}
.tweet q a {
  color: #888;
}
.tweet a.author {
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  display: block;
  position: absolute;
  top: 100%;
  right: 0;
  overflow: hidden;
  background: #8eb132;
  text-decoration: none;
  text-align: right;
  padding-right: 42px;
  height: 42px;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.tweet a.author:hover {
  background: #ba3072;
}
.tweet a.author img {
  position: absolute;
  top: 0;
  right: 0;
  height: 42px;
  width: 42px;
}
.tweet a.author cite {
  display: block;
  padding: 5px 10px 0;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  color: #fff;
}
.tweet a.author span {
  color: rgba(255, 255, 255, 0.5);
  display: block;
  padding: 0 10px 5px;
  font-size: 12px;
}
#wrapper {
  background: #f4f4f4;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  position: absolute;
  top: 535px;
  width: 100%;
}
article {
  width: 900px;
  margin: 70px auto;
  padding: 70px 0;
  zoom: 1;
}
article:after {
  content: " ";
  display: block;
  clear: both;
}
article header {
  margin: 0 0 20px;
}
article header h1 {
  color: #333333;
  font-size: 35px;
  display: inline;
}
article header p {
  color: #769b49;
  font-size: 17px;
  display: inline;
  font-style: italic;
  padding: 0 10px;
}
article .link {
  color: #259579;
  display: block;
  font-style: italic;
}
#changes {
  margin-top: 0;
}
#changes h2 {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  color: #769b49;
  font-size: 24px;
  margin-bottom: 8px;
}
#changes .cols {
  margin-top: 5px;
  margin-bottom: 50px;
  -webkit-column-count: 2;
  -moz-column-count: 2;
}
#changes .cols p {
  margin: 10px 10px 0 0;
}
#changes .col {
  width: 48%;
}
#changes .col p {
  margin: 10px 10px 0 0;
}
#changes .link {
  font-size: 16px;
  padding: 20px 10px 20px 10px;
  clear: both;
  text-align: center;
}
#changes #wholeAnnouncement {
  display: none;
}
#changes p a {
  color: #444;
}
.nobreak {
  -webkit-column-break-inside: avoid-column;
  -moz-column-break-inside: avoid-column;
  column-break-inside: avoid-column;
}
#features .progress {
  display: block;
  float: left;
  width: 270px;
  height: 9px;
  padding: 1px;
  background: #dadbdb;
  border-radius: 8px;
  border: 1px solid #cacaca;
  background-color: #e5e6e6;
  background: -moz-linear-gradient(top, #dadbdb 0%, #eff0f0 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dadbdb), color-stop(100%, #eff0f0));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #dadbdb 0%, #eff0f0 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #dadbdb 0%, #eff0f0 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #dadbdb 0%, #eff0f0 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #dadbdb 0%, #eff0f0 100%);
  /* W3C */

  position: relative;
}
#features .progress span {
  display: block;
  height: 7px;
  background: #a6bdba;
  border-radius: 8px;
  border: 1px solid #93b1ad;
  background-color: #a8c1bd;
  background: -moz-linear-gradient(top, #bdd0cd 0%, #93b1ad 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bdd0cd), color-stop(100%, #93b1ad));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #bdd0cd 0%, #93b1ad 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #bdd0cd 0%, #93b1ad 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #bdd0cd 0%, #93b1ad 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #bdd0cd 0%, #93b1ad 100%);
  /* W3C */

  position: absolute;
  left: 1px;
  top: 1px;
  opacity: 0.3;
}
#features .progress span .done {
  opacity: 1;
}
#features .comments {
  padding-left: 20px;
  background: url(/public/2.0/images/comments.png) 0 -20px no-repeat;
  color: #609089;
  font-size: 14px;
  display: block;
  font-style: italic;
  float: right;
}
#features .list {
  width: 350px;
  background: url(/public/2.0/images/features.png) right center no-repeat;
  padding-right: 10px;
  float: left;
}
#features .list li {
  border: 1px solid #f0f0f0;
  border-bottom: none;
  padding: 5px 10px;
  cursor: pointer;
  zoom: 1;
}
#features .list li:after {
  content: " ";
  display: block;
  clear: both;
}
#features .list li:last-child {
  border-bottom: 1px solid #f0f0f0;
}
#features .list li:hover {
  background: #fff;
}
#features .list h2 a {
  display: block;
  color: #647471;
  font-size: 18px;
  margin: 0 0 5px;
  text-decoration: none;
}
#features .list li.active {
  background: #e6f3cb;
  border-color: #d7e5ba;
  position: relative;
}
#features .list li.active:before {
  content: url(/public/2.0/images/h-marker.png);
  position: absolute;
  right: -11px;
  top: 10px;
}
#features .list li.active h2 a {
  color: #333;
}
#features .list li.active .progress {
  border: 1px solid #b8c3a2;
  background-color: #dbe2d2;
  background: -moz-linear-gradient(top, #d0d7c7 0%, #e6eddd 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0d7c7), color-stop(100%, #e6eddd));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #d0d7c7 0%, #e6eddd 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #d0d7c7 0%, #e6eddd 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #d0d7c7 0%, #e6eddd 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #d0d7c7 0%, #e6eddd 100%);
  /* W3C */

}
#features .list li.active .progress span {
  border: 1px solid #74952c;
  background-color: #8dae45;
  background: -moz-linear-gradient(top, #a6c75e 0%, #74952c 100%);
  /* FF3.6+ */

  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a6c75e), color-stop(100%, #74952c));
  /* Chrome,Safari4+ */

  background: -webkit-linear-gradient(top, #a6c75e 0%, #74952c 100%);
  /* Chrome10+,Safari5.1+ */

  background: -o-linear-gradient(top, #a6c75e 0%, #74952c 100%);
  /* Opera11.10+ */

  background: -ms-linear-gradient(top, #a6c75e 0%, #74952c 100%);
  /* IE10+ */

  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color1', endColorstr='@color2',GradientType=0 );
  background: linear-gradient(top, #a6c75e 0%, #74952c 100%);
  /* W3C */

}
#features .list li.active .comments {
  background-position: 0 0;
  color: #769b49;
}
#features .list li.active .stats span {
  color: #37a800;
}
#features .list li.active + li {
  border-top-color: #d7e5ba;
}
#features .details {
  width: 450px;
  float: left;
  padding-left: 50px;
}
#features .details .detail {
  display: none;
}
#features .details .detail.active {
  display: block;
}
#features .details .link {
  padding: 10px 0;
}
#features .details .desc p {
  margin: 10px 0;
}
#features .details h3 {
  margin-top: 10px;
  margin-bottom: 20px;
}
#features .details em {
  font-weight: normal;
}
#features .details .benefits, #features .details .community {
  float: left;
  font-size: 13px;
}
#features .details .benefits {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  float: left;
}
#features .details .benefits li {
  padding: 5px 0 5px 25px;
  background: url(/public/2.0/images/benefit.png) left center no-repeat;
}
#features .details .benefits a {
  color: #6E7977;
}
#features .details .benefits a.closed {
  text-decoration: line-through;
  color: #959AA2;
}
#features .details .milestones .progress {
  width: 150px;
  float: right;
  margin: 5px 5px 0 0;
}
#features .details .milestones .milestone {
  background: url(/public/2.0/images/milestones.png) left center no-repeat;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#features .details .comments {
  margin-top: 4px;
}
#features .details .comments .comment {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}
#features .stats {
  float: right;
  font-style: italic;
  position: relative;
  top: -5px;
}
#features .stats span {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: bold;
  color: #93B1AD;
  font-style: normal;
  font-size: 17px;
  padding: 0 3px;
}
#faq {
  /*
	.list {
		background: url(/public/2.0/images/faq.png) top center no-repeat;
		padding-bottom: 10px;
		li {
			display: inline-block;
			padding: 5px 15px;
			.title;
			font-size: 17px;
			border: 1px solid transparent;
			&:hover {
				background: #fff;
				border-color: #e0e0e0;
			}
			&.active {
				color: #333;
				background: #e6f3cb;
				border-color: #d7e5ba;
			}
		}
	}
*/

}
#faq .tuto {
  float: left;
  padding: 9px 10px 0;
  font-style: italic;
}
#faq .details {
  margin: 0 -10px;
}
#faq .bloc {
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333333333333336%;
  float: left;
}
#faq .bloc:nth-child(3n+1) {
  clear: left;
}
#faq .link {
  font-size: 16px;
  padding: 40px 0 0;
  clear: both;
  text-align: center;
}
#faq p {
  margin-top: 10px;
}
#faq p a {
  color: #555;
}
#share {
  background: #eee;
  background: top center no-repeat, -webkit-gradient(linear, left top, right top, color-stop(0, #8addae), color-stop(1, #bef176));
  background: top center no-repeat, -moz-linear-gradient(left, #8addae 0%, #bef176 100%);
  /* FF3.6+ */

  background: top center no-repeat, -webkit-linear-gradient(left, #8addae 0%, #bef176 100%);
  /* Chrome10+,Safari5.1+ */

  background: top center no-repeat, -o-linear-gradient(left, #8addae 0%, #bef176 100%);
  /* Opera11.10+ */

  background: top center no-repeat, -ms-linear-gradient(left, #8addae 0%, #bef176 100%);
  /* IE10+ */

  background: top center no-repeat, linear-gradient(left, #8addae 0%, #bef176 100%);
  /* W3C */

  border-top: 1px solid #e0e0e0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6) inset;
  margin: 100px 0 0;
  overflow: hidden;
  position: relative;
}
#share .back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 18px;
  line-height: 20px;
  text-align: justify;
  color: #529d73;
  opacity: .3;
}
#share .back a {
  color: #529d73;
  text-decoration: none;
  cursor: default;
}
#share .content {
  position: relative;
  z-index: 8;
  width: 960px;
  margin: 50px auto 50px;
  overflow: hidden;
  text-align: center;
}
#share .content .buttons a {
  display: inline-block;
  padding: 4px 10px;
  margin: 7px;
  background: #333333 url(http://a2.twimg.com/a/1314906762/images/twitter_logo_header-2.png) 20px center no-repeat;
  padding: 10px 20px 10px 140px;
  -webkit-box-shadow: inset 1px 1px 0 #222222, inset -1px -1px 0 #666666, 2px 2px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 1px 1px 0 #222222, inset -1px -1px 0 #666666, 2px 2px 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 1px 1px 0 #222222, inset -1px -1px 0 #666666, 2px 2px 0 rgba(0, 0, 0, 0.1);
  text-shadow: 1px 1px 0 #000;
  text-decoration: none;
  border-radius: 5px;
  color: #ddd;
  -webkit-transition: all 100ms ease-in-out;
  -moz-transition: all 100ms ease-in-out;
  -o-transition: all 100ms ease-in-out;
  transition: all 100ms ease-in-out;
}
#share .content .buttons a:hover {
  color: #fff;
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}
#share .licence {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 4px;
  background: #333;
  clear: both;
  text-align: center;
  color: #ccc;
  opacity: .9;
}
#share .licence a {
  color: #fff;
}

