#{extends 'main.html' /}
#{set title:'About' /}

<div id="top">
    <p class="category">&{'about.01'}</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>&{'about.02'}</h1>
        <p>&{'about.03'}</p>
        
        <h2>&{'about.04'}</h2>
        <p>&{'about.05'}</p>
        <p>&{'about.06'}</p>
        
        <h2>&{'about.07'}</h2>
        <p>&{'about.08'}</p>
        #{list translators, as:'t'}
        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/${t.screenName}">
                    <img alt="${t.name}" src="${t.profileImageUrl}">
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>${t.name}</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/${t.screenName}">${t.screenName}</a>
                    </span> ${t.location}
                </div>
                <div class="bio">${t.description}</div>
                <div class="url">
                    <a href="${t.url}" rel="me nofollow" target="_blank">${t.url}</a>
                </div>
            </div>
        </div>
        #{/list}
    </div>
    
</div>
