#{extends 'main.html' /}
#{set title:'About' /}

<div id="top">
    <p class="category">&{'about.title'}</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>&{'about.welcome'}</h1>
        <p>&{'about.welcome.text'}</p>
        
        <h2>&{'about.disclaimer'}</h2>
        <p>&{'about.disclaimer.text'}</p>
        <p>&{'about.disclaimer.text2'}</p>

        <h2>&{'about.acknowledment'}</h2>
        <p>
        	&{'about.acknowledment.text',
        		'<a href="https://github.com/garbagetown/playdocja"/>playdocja</a>', 
        		'<a href="http://twitter.com/garbagetown">UMEZAWA, Yuichiro</a> &amp; <a href="http://twitter.com/ikeike443">Ikeda Takafumi</a>'
        	}
        </p>

        <h2>&{'about.contribute'}</h2>
        <p>&{'about.contribute.text', '/documentation/latest/translation'}</p>

        <h2>&{'about.translators'}</h2>
        <p>&{'about.translators.text'}</p>

        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/develsas">
                    <img alt="develsas" src="http://a1.twimg.com/profile_images/1557699557/penguin_armed_reasonably_small.jpg">
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>Sebastián Scarano</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/develsas">develsas</a>
                    </span>
                </div>
                <div class="url">
                    <a href="http://playlatam.wordpress.com" rel="me nofollow" target="_blank">http://playlatam.wordpress.com</a><br />
                    <a href="https://github.com/opensas" rel="me nofollow" target="_blank">https://github.com/opensas</a>
                </div>
            </div>
        </div>
		
        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/rodriguezlaurag">
                    <img alt="rodriguezlaurag" src="http://a2.twimg.com/profile_images/1556885579/P1000370_reasonably_small.jpg" >
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>Laura G. Rodriguez</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/rodriguezlaurag">rodriguezlaurag</a>
                    </span>
                </div>
            </div>
        </div>
		
        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/mfmontanari">
                    <img alt="fmontanari" src="http://es.gravatar.com/userimage/28339223/484061d299aa51777e71f6a4a332eb0a.png" >
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>Ma. Florencia Montanari</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/mfmontanari">mfmontanari</a>
                    </span>
                </div>
            </div>
        </div>

        <div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/gualtrapa">
                    <img alt="fmontanari" src="https://es.gravatar.com/userimage/96939/7416e8a19c1ca92cdcd1f1d1e047d4a0.jpeg" >
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>Walt Trappa</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/gualtrapa">gualtrapa</a>
                    </span>
                </div>
            </div>
        </div>
	
	<div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/pjquero">
                    <img alt="pjquero" src="http://www.gravatar.com/avatar/e22b8573e9187c00da4967a5bfb07faf.png" >
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>Pedro J. Rodríguez Q.</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/pjquero">pjquero</a>
                    </span>
                </div>
            </div>
        </div>
		
	<div class="profile-info">
            <div class="profile-image-container">
                <a target="_blank" class="profile-picture" href="http://twitter.com/pjquero">
                    <img alt="alfonsokim" src="http://gravatar.com/avatar/93b8307166c571a6321e9600c3b6bb8d.png" >
                </a>
            </div>
            <div class="profile-details">
                <div class="full-name">
                    <h4>Alfonso Kim Quezada</h4>
                </div>
                <div class="screen-name-and-location">
                    <span class="screen-name screen-name-garbagetown pill">
                        @<a target="_blank" class="profile-picture" href="http://twitter.com/alfonsokim">alfonsokim</a>
                    </span>
                </div>
            </div>
        </div>
		
    </div>
    
</div>
