#{extends 'main.html' /}
#{set title:'Ecosystem' /}

<div id="top">
    <p class="category">&{'about.01'}</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>&{'about.02'}</h1>
        <p>&{'about.03'}</p>
        
        <h2>&{'about.04'}</h2>
        <p>&{'about.05'}</p>
        <p>&{'about.06'}</p>
        
        <h2>&{'about.07'}</h2>
        <p>&{'about.08'}</p>
        
        <h2>&{'about.09'}</h2>
        <p>&{'about.10'}</p>
        <p>
            <a href="http://twitter.com/garbagetown"><img src="http://api.dan.co.jp/twicon/garbagetown/normal"/></a>
            <a href="http://twitter.com/ikeike443"><img src="http://api.dan.co.jp/twicon/ikeike443/normal"/></a>
        </p>
    </div>
    
</div>
