#{extends 'main.html' /}
#{set title:'Download Play Framework' /}
#{set body:'download' /}
#{set 'top'}
    Download Play Framework
#{/set}
        <article>
            <h1>Linux, MacOS と Windows で<br>すぐに使えるパッケージ</h1>
            <div class="latest">
                <a class="cover" href="${latest.url}">Latest</a>
                <h2>最新の公式バージョン</h2>
                <table>
                    <tr>
                        <td>
                            <a href="${latest.url}">${latest.name}</a>
                        </td>
                        <td width="200">
                            ${latest.date.format('yyyy/MM/dd', 'ja')}
                        </td>
                        <td width="100">
                            ${latest.size}M
                        </td>
                    </tr>
                </table>
            </div>

            <p class="updates">
                <a href="http://twitter.com/playframework">フォローしてリリースアナウンスを受け取ろう</a>
            </p>

            #{if upcomings}
            <h3>開発中のバージョン</h3>
            <p>
                開発版のプレビューリリースです。
            </p>
            <table>
                #{list upcomings, as:'upcoming'}
                <tr>
                    <td><a href="${upcoming.url}">${upcoming.name}</a></td>
                    <td width="200">${upcoming.date.format('yyyy/MM/dd', 'ja')}</td>
                    <td width="100">${upcoming.size}M</td>
                </tr>
                #{/list}
            </table>
            #{/if}

            <h3>以前のバージョン</h3>
            <p>
                古いバージョンの Play をお探しですか? 以下から、古いリリースを探すことができます。
            </p>

            <table>
                #{list olders, as:'older'}
                <tr class="${older_parity}">
                    <td><a href="${older.url}">${older.name}</a></td>
                    <td width="200">${older.date.format('yyyy/MM/dd', 'ja')}</td>
                    <td width="100">${older.size}M</td>
                </tr>
                #{/list}
            </table>
        </article>
        <aside>
#{include 'partials/_download_aside.html'/}
        </aside>
