#{extends 'main.html' /}
#{set title:'Ecosystem' /}

<div id="top">
    <p class="category">プロフェッショナルサービスとホスティング</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>コンサルティング、トレーニングとサポート</h1>
        
        <h2></h2>
        
        <p>
            <a href="http://www.zenexity.com"><img src="/public/images/zenexity.jpg" width="230"></a>

        </p>
        
        <p>
            Play framework のバックエンドである <a href="http://www.zenexity.com">Zenexity</a> は、Play framework の全ての威力を解き放つために、その主要概念を理解するお手伝いをすることができます。
        </p>
        
        <p>
            私たちはあなたの Play アプリケーションを監査し、あなたのチームを牽引し、あなたのプロジェクトを立ち上げ、あなたの既存情報システムへ Play framework を統合します。私たちは Play を使ったミッションクリティカルなアプリケーションのプロフェッショナルサポートを提案することもできます。
        </p>
        
        <h2>Lunatech Research, Netherlands</h2>

        
        <p>
            <a href="http://www.lunatech-research.com/"><img src="/public/images/lunatech.png" width="150"></a>
        </p>
        
        <p>
            <a href="http://www.lunatech-research.com/">Lunatech</a> は Play の初期から貢献してきました。
            私たちは、エレガントなアーキテクチャ設計、既存サービスの再利用、磐石な RESTful web サービスや web アプリケーションの構築をお手伝いすることができます。
        </p>
        <p> 
            もしあなたの Play アプリケーションを既存の Java EE サービススタックに統合したいけれど、どのようにしたらよいか分からない場合、私たちにお声掛けください。
            私たちは技術トレーニングも提供しています。私たちは、開発者の質問、フレームワークのバグ修正と改良について合意した SLA に基づく第三者サポートを提供することもできます。
        </p>
        
        <h1>ホスティング</h1>
        
        <h2>playapps.net</h2>
        
        <p>
            <a href="http://www.playapps.net"><img src="/public/images/playapps.png" width="150"></a>
        </p>
        
        <p>
            <a href="http://www.playapps.net">Playapps.net</a> は、あなたの Play アプリケーションを素早く効率的に起動し実行するよう設計された合理的なデプロイ環境です。
        </p>
        
        <p>
            Playapps.net は、Play framework のシンプルさを念頭において構築されており、あなたが自前のサーバでアプリケーションを実行するために苦労せずに済むように、各スロットにはあなたのアプリケーションを実行するために必要なすべてのサービスが含まれています。
        </p>
        
    </div>
    
</div>
