#{extends 'main.html' /}
#{set title:'Ecosystem' /}

<div id="top">
    <p class="category">&{'ecosystem.title'}</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>&{'ecosystem.consulting'}</h1>
        
        <h2></h2>
        
        <p>
            <a href="http://www.zenexity.com"><img src="/public/images/zenexity.jpg" width="230"></a>

        </p>
        
        <p>
            &{'ecosystem.zenexity.text'}
        </p>
        
        <p>
            &{'ecosystem.zenexity.text2'}
        </p>
        
        <h2>&{'ecosystem.lunatech.title'}</h2>
        
        <p>
            <a href="http://www.lunatech-research.com/"><img src="/public/images/lunatech.png" width="150"></a>
        </p>
        
        <p>
            &{'ecosystem.lunatech.text'}
        </p>
        <p> 
            &{'ecosystem.lunatech.text2'}
        </p>
        
        <h1>&{'ecosystem.hosting'}</h1>

        <h2>&{'ecosystem.heroku.title'}</h2>
        
        <p>
            <a href="http://www.heroku.com"><img src="/public/images/heroku.png" width="150"></a>
        </p>
        
        <p>
            &{'ecosystem.heroku.text'}
        </p>
        
        <p>
            &{'ecosystem.heroku.text2'}
        </p>

        
        <h2>&{'ecosystem.playapps.title'}</h2>
        
        <p>
            <a href="http://www.playapps.net"><img src="/public/images/playapps.png" width="150"></a>
        </p>
        
        <p>
            &{'ecosystem.playapps.text'}
        </p>
        
        <p>
            &{'ecosystem.playapps.text2'}
        </p>
        
    </div>
    
</div>
