#{extends 'main.html' /}
#{set title:'Ecosystem' /}

<div id="top">
    <p class="category">Professional services and hosting</p>
</div>
    
<div class="wrapper">
    
    <div class="wrapped wikistyle">
        
        <h1>Consulting, training &amp; support</h1>
        
        <h2></h2>
        
        <p>
            <a href="http://www.zenexity.com"><img src="/public/images/zenexity.jpg" width="230"></a>

        </p>
        
        <p>
            Being the company behind Play framework, <a href="http://www.zenexity.com">Zenexity</a> can help you 
            understand the key concepts in order to unleash its full power.
        </p>
        
        <p>
            We audit your Play applications, train your teams, bootstrap your project and help you to integrate it in your
            existing information system. We also offer professionnal support for mission critical applications running on Play.
        </p>
        
        <h2>Lunatech Research, Netherlands</h2>

        
        <p>
            <a href="http://www.lunatech-research.com/"><img src="/public/images/lunatech.png" width="150"></a>
        </p>
        
        <p>
            <a href="http://www.lunatech-research.com/">Lunatech</a> has contributed to Play since its beginning.  
            We can help you design an elegant architecture, reuse your existing services and build rock-solid RESTful web services and applications.
        </p>
        <p> 
            If you also want to integrate your Play application with your existing Java EE service stack, but you don't really know how, just ask us.
            We provide technical training as well. We can also provide third-line support for the Play! framework, with an agreed 
            SLA for developer questions, framework bug fixing and enhancements.
        </p>
        
        <h1>Hosting</h1>
        
        <h2>playapps.net</h2>
        
        <p>
            <a href="http://www.playapps.net"><img src="/public/images/playapps.png" width="150"></a>
        </p>
        
        <p>
            <a href="http://www.playapps.net">Playapps.net</a> is a streamlined deployment environment designed to get your Play applications up and running quickly and efficiently.
        </p>

        
        <p>
            It was created with the simplicity of the Play framework in mind and each slot includes all services needed to run your application without the hassle of running your own server.
        </p>
        
    </div>
    
</div>
