#{extends 'main.html' /}
#{set title:'Get involved' /}
#{set body:'getInvolved' /}
#{set 'top'}
    Get involved
#{/set}
        <article>
            <h1>How to help?</h1>

            <p>
                The best ways to contribute are by finding and reporting bugs, writing tests for bugs, and improving the documentation. 
            </p>

            <h3>Reporting bugs</h3>
            <p>
                We use <a href="http://play.lighthouseapp.com/">Lighthouse</a> as our issue tracker.
            </p>

            <h3>Create modules</h3>
            <p>
                Learn more about creating modules on <a href="http://www.objectify.be/wordpress/?p=363">objectify.be</a> and <a href="http://developer.vz.net/2012/03/16/writing-a-play-2-0-module/">developer.vz.net</a>.
            </p>

            <h3>Patch the core</h3>
            <p>
                Check the <a href="/documentation/latest/Guidelines">contributor guide</a> and learn how to <a href="/documentation/latest/BuildingFromSource">build Play from source</a>.
            </p>

        </article>
        <aside>
            <h3>Get and build the code</h3>
            <ul>
                <li><a href="/code">Code &amp; contributors</a></li>
                <li><a href="http://github.com/playframework/play20">Source on Github</a></li>
                <li><a href="/documentation/latest/BuildingFromSource">Build the source</a></li>
            </ul>
            <h3>Guides</h3>
            <ul>
                <li><a href="http://play.lighthouseapp.com/projects/57987/contributor-guide">Contributor guide</a></li>
                <li><a href="http://developer.vz.net/2012/03/16/writing-a-play-2-0-module/">Write a module (quick)</a></li>
                <li><a href="http://www.objectify.be/wordpress/?p=363">Write a module (detailed)</a></li>
            </ul>
            <h3>Bugs and tests</h3>
            <ul>
                <li><a href="http://play.lighthouseapp.com/">Bug tracker</a></li>
                <li><a href="/documentation/latest/CIServer">Integration server</a></li>
                <li><a href="/documentation/latest/Repositories">Artifact repository</a></li>
            </ul>
            <h3>Mailing lists</h3>
            <ul>
                <li><a href="https://groups.google.com/group/play-framework">User mailing list</a></li>
                <li><a href="https://groups.google.com/group/play-framework-dev">Developer mailing list</a></li>
                <li><a href="https://groups.google.com/group/play-framework-security">Security mailing list</a></li>
            </ul>
            <p>
                <a href="http://www.cloudbees.com"><img src="http://web-static-cloudfront.s3.amazonaws.com/images/badges/BuiltOnDEV.png"></a>
            </p>
        </aside>