#{extends 'main.html' /}
#{set title:'Get involved' /}
#{set body:'getInvolved' /}
#{set 'top'}
    Get involved
#{/set}
        <article>
            <h1>貢献するには?</h1>

            <p>
                貢献するもっとも良い方法は、バグを見つけて報告すること、バグのためのテストを書くこと、そしてドキュメントを改善することです。
            </p>

            <h3>バグを報告する</h3>
            <p>
                issue トラッカとして <a href="http://play.lighthouseapp.com/">Lighthouse</a> を使っています。
            </p>

            <h3>モジュールを作る</h3>
            <p>
                モジュールの作成について <a href="http://www.objectify.be/wordpress/?p=363">objectify.be</a> と <a href="http://developer.vz.net/2012/03/16/writing-a-play-2-0-module/">developer.vz.net</a> で詳しく学んでください。
            </p>

            <h3>本体へのパッチ</h3>
            <p>
                <a href="/documentation/latest/Guidelines">貢献者ガイド</a> を確認してください、そして <a href="/documentation/latest/BuildingFromSource">Play をソースからビルドする</a> 方法を学んでください。
            </p>

        </article>
        <aside>
            <h3>コードの取得とビルド</h3>
            <ul>
                <li><a href="/code">コードと貢献者</a></li>
                <li><a href="http://github.com/playframework/play20">Github ソースコード</a></li>
                <li><a href="/documentation/latest/BuildingFromSource">ソースからビルドする</a></li>
            </ul>
            <h3>ガイド</h3>
            <ul>
                <li><a href="http://play.lighthouseapp.com/projects/57987/contributor-guide">貢献者ガイド</a></li>
                <li><a href="http://developer.vz.net/2012/03/16/writing-a-play-2-0-module/">モジュール作成 (簡易)</a></li>
                <li><a href="http://www.objectify.be/wordpress/?p=363">モジュール作成 (詳細)</a></li>
            </ul>
            <h3>バグとテスト</h3>
            <ul>
                <li><a href="http://play.lighthouseapp.com/">バグトラッカ</a></li>
                <li><a href="/documentation/latest/CIServer">CI サーバ</a></li>
                <li><a href="/documentation/latest/Repositories">成果物リポジトリ</a></li>
            </ul>
            <h3>メーリングリスト</h3>
            <ul>
                <li><a href="https://groups.google.com/group/play-framework">ユーザメーリングリスト</a></li>
                <li><a href="https://groups.google.com/group/play-framework-dev">開発者メーリングリスト</a></li>
                <li><a href="https://groups.google.com/group/play-framework-security">セキュリティメーリングリスト</a></li>
            </ul>
            <p>
                <a href="http://www.cloudbees.com"><img src="http://web-static-cloudfront.s3.amazonaws.com/images/badges/BuiltOnDEV.png"></a>
            </p>
        </aside>