#{extends 'main.html' /}
#{set title:'Play Framework - Build Modern &amp; Scalable Web Apps with Java and Scala' /}
#{set body:'home' /}
#{set 'top'}
    The High Velocity<br/>Web Framework<br/>For Java and Scala
#{/set}
        <div id="start">
            <h2>最新パッケージを取得する</h2>
                <a href="/download" class="download">Download 2.3.0</a>
            <p>
                または <a href="/download">すべてのバージョンを見る</a>
            </p>
            <h2>はじめよう</h2>
            <nav class="getting-started">
                <a href='/documentation/latest/JavaTodoList' class="java">Java</a>
                <a href='/documentation/latest/ScalaTodoList' class="scala">Scala</a>
            </nav>
            <p>
                または <a href="/documentation">完全なドキュメントを読む</a>
            </p>
        </div>
        <div id="video">
            <iframe src="http://player.vimeo.com/video/58969923?byline=0&amp;portrait=0&amp;color=ffffff" width="610" height="343" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        </div>
        <article class="hat">
            <h1>Play Framework で Java と Scala の web アプリケーション開発を<br/>もっと簡単に</h1>
            <p>
                Play は web と親和性の高い軽量でステートレスなアーキテクチャに基づいています。
            </p>
            <p>
                Akka を基盤とすることで、Play は高度にスケール可能なアプリケーションのための予測可能で最小限のリソース (CPU、メモリ、スレッド) 消費を提供します。
            </p>
        </article>
        <article class="feature developer">
            <h2>開発者に優しい</h2>
            <p>
                変更したら更新ボタンをただ叩く! 必要なのはブラウザとテキストエディタだけ。
            </p>
            <ul>
                <li>更新ボタン押下ワークフロー</li>
                <li>強力なコンソールとビルドツール</li>
                <li>型安全</li>
                <li>組み込みテストツール</li>
                <li>Eclipse と IntelliJ IDEA のサポート</li>
            </ul>
            <div id="workflow">
                <div class="terminal"></div>
                <div class="editor"></div>
                <div class="browser"></div>
            </div>
        </article>
        <article class="feature scale alt">
            <div id="scale">
                <h6>Play instances usage</h6>
                <div class="instance1"></div>
                <div class="instance2"></div>
                <div class="instance3"></div>
                <div class="instance4"></div>
                <p class="triggers">
                    <span class="instance1"></span>
                    <span class="instance2"></span>
                    <span class="instance3"></span>
                    <span class="instance4"></span>
                </p>
            </div>
            <h2>期待通りにスケール</h2>
            <p>
                Play は Akka 上に構築された完全な非同期モデルを内部で使用します。ステートレスであることと組み合わさり、Play は単純かつ期待通りにスケールします。
            </p>
            <ul>
                <li>ステートレスな Web 層</li>
                <li>ノンブロッキング I/O</li>
                <li>Akka ベース</li>
                <li>リアルタイム可能</li>
            </ul>
        </article>
        <article class="feature modern">
            <div id="modern">
                <div></div>
            </div>
            <h2>近代的な web とモバイル</h2>
            <p>
                Play は近代的な web およびモバイルアプリケーション向けに作られています。
            </p>
            <ul>
                <li>デフォルトで RESTful</li>
                <li>CoffeeScript, LESS, その他用のアセットコンパイラ</li>
                <li>ファーストクラスとしての JSON</li>
                <li>Websockets, Comet, EventSource</li>
                <li>NoSQL とビッグデータの広範囲なサポート</li>
            </ul>
        </article>
        <article class="feature strong small">
            <h2>堅実かつ高速</h2>
            <p>
                コンパイラと実行環境 (JVM) が力仕事をしてくれるため、アプリケーションは超高速に動作し、負荷状態でも動き続けます。
            </p>
            <ul>
                <li>コンパイルされたコード</li>
                <li>JVM 上で実行</li>
                <li>Netty による Java NIO</li>
            </ul>
        </article>
        <article class="feature techs small">
            <h2>巨大なエコシステム</h2>
            <p>
                Java 周辺のエコシステムは巨大です。ありとあらゆるライブラリがあり - そのほとんどが Play で利用できます。 
            </p>
            <ul>
                <li>Maven セントラルライブラリを利用</li>
                <li>多数の Play プラグイン</li>
                <li>活発な Play コミュニティ</li>
            </ul>
        </article>
        <article class="feature extend small">
            <h2>本番環境での実績</h2>
            <p>
                スタートアップからエンタープライズまで、Play はとても革新的な web サイトのいくつかに役立っています。Play には実績、信頼性、そして拡張性があります。
            </p>
            <ul>
                <li>Typesafe による本番サポート</li>
                <li>クラウド環境へのデプロイオプション</li>
                <li>ミッションクリティカルなアプリケーションでの利用</li>
            </ul>
        </article>