#{extends 'main.html' /}
#{set title:'Modules' /}
#{set action:'modules' /}
<div id="top">
    <p class="category">コミュニティが寄付した拡張</p>
</div>

<div class="wrapper">
    
    <div id="submenu">
        
        <ul class="sidemenu">
            <li class="selected">
                <a href="/modules">すべてのモジュール</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/scala">Scala</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/gae">Google App Engine</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/pdf">PDF Generation</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/sass">SASS and SCSS</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/gwt2">Google Web Toolkit</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/morphia">MongoDB</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/search">Simple search</a> <span>⬅</span>
            </li>
            <li class="">
                <a href="/modules/objectify">Objectify</a> <span>⬅</span>
            </li>
        </ul>
    </div>
    
    <div class="wrapped wikistyle">
    
        <h1>モジュールリポジトリ</h1>
        <p>
            ここでは play コミュニティから寄付された素晴らしいモジュールを見つけることができます。好きなものを選んで、その機能をアプリケーションに追加してください。
            モジュールに関するヘルプが必要ですか？<a href="/documentation/latest/modules">マニュアルページ</a> を確認してください。
        </p>
        
        <p>
            <input type="text" id="keyword" size="50" class="disabled" style="font-size: 20px" defaultvalue="なにか特別なものをお探しですか？" />
        </p>
        
        <div id="modules">
            #{list items:modules, as:"module"}
            <div class="module">
            <h2>[${module.id}] <a>${module.name}</a> <span class="by">by ${module.author}</span></h2>
            <p>${module.description.raw()}</p>
            <p>
                <a href="/modules/${module.id}">詳細とバージョン</a>
            </p>
            </div>
            #{/list}
        </div>
        
        <script type="text/javascript" charset="utf-8">
            var route = function(options) {
                var pattern = '/modules?keyword=:keyword';
                for(key in options) {
                    pattern = pattern.replace(':'+key, options[key]);
                }
                return pattern
            };
            $('#keyword')
                .keyup(function() {
                    $('#modules').load(route({keyword: this.value}) + ' #modules')
                })
                .val($('#keyword').attr("defaultvalue"))
                .addClass('notactive')
                .focus(function() {
                    if($(this).val() == $(this).attr("defaultvalue")) {
                        $(this).val('').removeClass('notactive')
                    }
                })
        </script>
        
    </div>

</div>