%{
messages = play.i18n.Messages;
lang = play.i18n.Lang.get();
%}
<!DOCTYPE html>
<html>
	<head>
        <meta name="keywords" content="play,playframework,Play!,Play!framework,Play! framework,playdoces">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta http-equiv="Content-Language" content="${lang}">
        <title>Play framework - #{get 'title' /}</title>
        #{stylesheet src="main.css" /}
        #{stylesheet src="wiki.css" /}
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="/public/images/favicon.png">
        #{script src="jquery-1.4.2.min.js" /}
        #{get 'moreScripts' /}
        #{analytics /}
    </head>
    <body class="#{get 'body' /}">

    	<a href="/2.0" id="badge20"><img src="/public/2.0/images/badge.png"></a>
    	#{random_notice /}

        <div id="header">
            <div class="wrapper">
                <h1 id="logo"><a href="/">Playframework</a></h1>
                <ul id="menu">
                    <li class="#{if action == 'index'}selected#{/if}">
                        <a href="/">&{'main.header.home'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'documentation'}selected#{/if}">
                        <a href="/documentation">&{'main.header.learn'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'download'}selected#{/if}">
                        <a href="/download">&{'main.header.download'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'community'}selected#{/if}">
                        <a href="http://www.playframework.org/community" target="_blank">&{'main.header.community'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'code'}selected#{/if}">
                        <a href="/code">&{'main.header.code'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'ecosystem'}selected#{/if}">
                        <a href="/ecosystem">&{'main.header.ecosystem'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'modules'}selected#{/if}">
                        <a href="http://www.playframework.org/modules" target="_blank">&{'main.header.modules'}</a><span>&gt;</span>
                    </li>
                    <li class="#{if action == 'about'}selected#{/if}">
                        <a href="/about">&{'main.header.about'}</a><span>&gt;</span>
                    </li>
                </ul>
            </div>
        </div>

        #{doLayout /}

        <div id="footer">
            <div class="wrapper">
                <ul>
                    <li><h5><a href="/documentation">&{'main.footer.learn'}</a></h5></li>
                    <li><a href="/documentation/latest/overview">&{'main.footer.overview'}</a></li>
                    <li><a href="/documentation/latest/firstapp">&{'main.footer.firstApp'}</a></li>
                    <li><a href="/documentation/latest/guide1">&{'main.footer.tutorial'}</a></li>
                    <li><a href="/documentation/latest/main">&{'main.footer.manual'}</a></li>
                </ul>
                <ul>
                    <li><h5><a href="http://www.playframework.org/community">&{'main.footer.community'}</a></h5></li>
                    <li><a href="http://twitter.com/playframework">@playframework</a></li>
                    <li><a href="http://groups.google.com/group/play-framework">&{'main.footer.googleGroup'}</a></li>
                    <li><a href="http://www.playframework.org/community/planet">&{'main.footer.planetPlay'}</a></li>
                    <li><a href="http://www.playframework.org/community/snippets">&{'main.footer.codeSnippets'}</a></li>
                </ul>
                <ul>
                    <li><h5><a href="http://www.playframework.org/code">&{'main.footer.contribute'}</a></h5></li>
                    <li><a href="http://github.com/playframework/play">&{'main.footer.sourceCode'}</a></li>
                    <li><a href="http://play.lighthouseapp.com/">&{'main.footer.bugTracking'}</a></li>
                    <li><a href="http://github.com/playframework/play/contributors">&{'main.footer.contributors'}</a></li>
                    <li><a href="http://integration.playframework.org/">&{'main.footer.integrationServer'}</a></li>
                </ul>
                <ul>
                    <li><h5><a href="http://download.playframework.org/">&{'main.footer.download'}</a></h5></li>
                    <li><a href="http://download.playframework.org/releases">&{'main.footer.releases'}</a></li>
                    <li><a href="http://download.playframework.org/1.1-nightly/">&{'main.footer.nightly'}</a></li>
                    <li><a href="http://www.apache.org/licenses/LICENSE-2.0.html">&{'main.footer.license'}</a></li>
                </ul>
                <hr>
                <a class="zenexity" href="http://www.zenexity.com/"><img src="/public/images/zenexity.png" alt="zenexity - web oriented architecture"></a>
                <p class="licence">
                    &{'main.footer.message.authors'}
                    &{'main.footer.message.license'} - &{'main.footer.message.hosting'}
                </p>
            </div>
        </div>
        <script type="text/javascript">
            var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
            document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
        </script>
        <script type="text/javascript">
            try {
                var pageTracker = _gat._getTracker("UA-13089827-4");
                pageTracker._trackPageview();
            } catch(err) {}
        </script>
    </body>
</html>
