<!DOCTYPE html>
<html>
    <head>
        <title>#{get 'title' /} — Playframework</title>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css">
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png">
        <meta name="viewport" content="width=1024, initial-scale=1">
        <script src="/assets/javascripts/jquery-1.7.1.min.js" type="text/javascript"></script>
        <script src="/assets/javascripts/play20.js" type="text/javascript"></script>
        #{if request.action == 'Application.index'}
        <script src="/assets/javascripts/history.js" type="text/javascript"></script>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/home.css">
        #{/if}
        <script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script> 
        <script type="text/javascript">
        </script>
    </head>
    <body>
        <header>
            <a href="/" id="logo"><img src="/assets/images/logo.png"></a>
            <div id="getLogo">
                <h3>Play! ロゴのダウンロード</h3>
                <figure>
                    <img src="/assets/images/logos/normal-mini.png">
                     <figcaption>
                        <a href="/assets/images/logos/normal.png">(png)</a>
                        <a href="/assets/images/logos/normal.svg">(svg)</a>
                     </figcaption>
                </figure>
                <figure>
                    <img src="/assets/images/logos/black-mini.png">
                     <figcaption>
                        <a href="/assets/images/logos/black.png">(png)</a>
                        <a href="/assets/images/logos/black.svg">(svg)</a>
                     </figcaption>
                </figure>
            </div>
            <nav>
                
                    <a href="/documentation" class="${request.action =~ /page/ ? 'selected ' : ''}learn">Learn</a> 
                
                    <a href="http://www.playframework.org/community" target="_blank" class="community">Community</a> 
                
                    <a href="/code" class="${request.action =~ /code/ ? 'selected ' : ''}code">Code</a> 
                
                    <a href="http://www.playframework.org/modules" target="_blank" class="modules">Modules</a> 
                
                    <a href="/about" class="${request.action =~ /about/ ? 'selected ' : ''}about">About</a>
                    
                    <a href="/download" class="download">Download</a> 
                
            </nav>
            <div id="download">
                
                    <p>
                        本番環境に使える最新のパッケージを取得する:
                    </p>
                    <a href="http://download.playframework.org/releases/play-2.0.1.zip" class="button">play-2.0.1.zip</a>
                
                <p>または <a href="/download">すべてのバージョン</a> を参照する</p>
            </div>
        </header>
        #{doLayout /}
        <footer>
            <img class="logo" src="/assets/images/logo-footer.png">
            <div class="links">
                <dl>
                    <dt>Play</dt>
                    <dd><a href="/download">Downloads</a></dd>
                    <dd><a href="/documentation/latest">Documentation</a></dd>
                    <dd><a href="http://www.apache.org/licenses/LICENSE-2.0.html">License</a></dd>
                </dl>
                <dl>
                    <dt>Contribute</dt>
                    <dd><a href="http://github.com/playframework/Play20">Source code</a></dd>
                    <dd><a href="https://groups.google.com/forum/#!forum/play-framework">Mailling list</a></dd>
                    <dd><a href="https://play.lighthouseapp.com/dashboard">Bug tracker</a></dd>
                </dl>
                <dl>
                    <dt>Ecosystem</dt>
                    <dd><a href="http://www.playframework.org/code/team" target="_blank">Team &amp; contributors</a></dd>
                    <dd><a href="http://typesafe.com/stack">Commercial support</a></dd>
                    <dd><a href="http://www.playframework.org/modules" target="_blank">Modules</a></dd>
                </dl>
            </div>
            <div class="licence">
                Play framework is released under the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2 License</a>
                <a class="typesafe" href="http://typesafe.com"><img src="/assets/images/typesafe.png" /></a>
                <a class="zenexity" href="http://zenexity.com"><img src="/assets/images/zenexity.png" /></a>
            </div>
        </footer>
    </body>
</html>
